<div class="container">
    <h2>Got The New Smile!!</h2>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{smile.sender.image}}" alt="Card image cap">
  <div class="card-body">
    
    <a href="/sendSmile/{{smile.sender._id}}" class="btn btn-primary">Smile Back</a>
  </div>
</div>
</div>